*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/app/src/main/java/au/org/nac/nactive/NACtive/google-services.json
.DS_Store
/build
/captures
/gradle.properties
.externalNativeBuild
gradle.properties
